body {
    font-size: 16px;
    box-sizing: inherit;
    font-family: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.main-page {
    background-color: #e6e6e6;
    display: flex;
    padding-top: 8rem;
    padding-right: 7rem;
    padding-left: 7rem;
}

.left-sidebar {
    cursor: pointer;
    width: 220px;
    top: 0;
    bottom: 0;
    margin-right: 2.5rem;
}

.first-half {
    padding: auto 0.5rem;
    background-color: white;
    margin-bottom: 1rem;
    border-radius: 7px;
    border: 1px groove #d1d1d1;
}


.top-img {
    overflow: hidden;
    height: 50px;
    width: 220px;
}

.camera-img {
    height: 40px;
    width: 50px;
    background-color: #e8f3ff;
    ;
    border-radius: 50%;
    padding-bottom: 0.9rem;
    margin-left: 8rem;
    position: relative;
    top: -2.5rem;
}

.part-one {
    position: relative;
    top: -1rem;
    padding-bottom: 1rem;
    border-bottom: 1px groove #d1d1d1;
}

.welcome {
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
}

.welcome:hover {
    cursor: pointer;
}

.add-photo {
    font-weight: 300;
    font-size: 1rem;
    padding-top: 0.2rem;
    text-align: center;
    color: #378fe9;
}

.connection-icon {
    color: #378fe9;
}

.connection {
    display: flex;
    justify-content: space-between;
}

.part-three:hover,
.part-two:hover,
.part-forth:hover,
.discover-more:hover {
    background-color: #e6e6e6;
}

.part-two {
    font-size: 1.2rem;
    padding: 0.7rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    border-bottom: 1px groove #d1d1d1;
}

.connection-two {
    font-weight: 600;
}

.part-three {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    padding-right: 0.7rem;
    padding-left: 1rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    border-bottom: 1px groove #d1d1d1;
}

.try-premium {
    font-weight: 600;
    display: flex;
    margin-top: 0.3rem;
}

.yellow {
    margin-right: 0.5rem;
}

.part-forth {
    font-size: 1.2rem;
    display: flex;
    padding-right: 0.7rem;
    padding-left: 1rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}

.save-icon {
    width: 15px;
    margin-right: 1.5rem;
}

.my-items {
    position: relative;
    top: 0.3rem;
}




/*  secondhalf- left sidebar */

.second-half {
    background-color: white;
    border-radius: 7px;
    padding: 1rem;
    line-height: 2;
    border: 1px groove #d1d1d1;
}

.secondhalf-text {
    text-transform: capitalize;
    color: #378fe9;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.second-halftext {
    display: flex;
    justify-content: space-between;
}

.secondhalf-text:hover {
    text-decoration: underline;
}

.discover-more {
    color: #666;
    font-weight: 500;
    text-align: center;
    padding: 1rem;
    border-radius: 7px;
    border-top: 1px groove #d1d1d1;
}










.right-sidebar {
    margin-left: 2.5rem;
    width: 25%;
    border-radius: 10px;
}

.rightsidebar-pic {
    width: 100%;
    border-radius: 7px;
}

.links {
    border-radius: 7px;
    margin-top: 1rem;
    padding: 2rem;
}

.sidebar-links {
    color: #8c8c8c;
    text-align: center;
    text-decoration: none;
    margin-right: 0.5rem;
    line-height: 2;
    font-size: 1.2rem;
}

.name {
    font-size: 1.2rem;
    color: blue;
    display: inline;
}

.copyright {
    font-size: 1.2rem;
    display: inline;

}



@media (max-width: 993px) {
    .right-sidebar {
        display: none;
    }

    .main-page {
        padding-top: 8rem;
    }
}

@media (max-width: 850px) {
    .main-page {
        padding: 8rem 4rem 0 4rem;
    }
}

@media (max-width: 770px) {
    .right-sidebar {
        display: none;
    }

    .left-sidebar {
        display: none;
    }

    .main-page {
        padding: 8rem 4rem 0 5rem;
    }
}

@media (max-width: 650px) {
    .main-page {
        padding: 8rem 2rem 0 3rem;
    }
}

@media (max-width: 580px) {
    .main-page {
        padding: 5rem 0 0 0;
    }
}